:root {
  --primary-color: #fb811e;
  --secondary-color: #009f4d;
  --font-color: #060606;
  --sub-font-color: #707070;
  --bg-color: #fff;
  --bg-grey: #f4f4f4;
  --shadow-color: rgba(0, 0, 0, 0.03);
  --border-color-light: #eee;
}

[data-theme=dark] {
  --primary-color: #fb811e;
  --secondary-color: #009f4d;
  --font-color: #fdfffc;
  --sub-font-color: #b7b7b7;
  --bg-color: #222222;
  --bg-grey: #0b0d0e;
  --shadow-color: rgb(23 19 19);
  --border-color-light: rgba(255, 255, 255, 0.2);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--font-color);
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Volkhov", serif;
}

.l-header {
  height: 90px;
  background-color: transparent;
  padding: 0px;
  transition: all 0.4s ease 0s;
  display: grid;
  align-items: center;
}

.header-fixed {
  height: 70px;
  background-color: var(--bg-color);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  padding: 0px;
  z-index: 99;
}
.header-fixed .c-logo a,
.header-fixed .c-nav__collapselabel,
.header-fixed .c-nav__themeicon {
  color: var(--font-color);
}
@media screen and (max-width: 768px) {
  .header-fixed .c-logo a {
    color: var(--primary-color);
  }
}

.container {
  max-width: 1200px;
}

.c-logo {
  font-weight: 400;
}
.c-logo a {
  position: relative;
  font-size: 32px;
  line-height: 28px;
  padding: 0;
  color: var(--primary-color);
}
@media screen and (max-width: 480px) {
  .c-logo a {
    font-size: 28px;
  }
}
.c-logo a i {
  position: absolute;
  top: -10px;
  left: 55px;
  font-size: 20px;
}
.c-logo a:hover {
  color: var(--font-color);
}
.c-logo__footer a i {
  top: -3px;
}

.c-nav {
  justify-content: space-between;
  padding: 0;
}
.c-nav__btns {
  display: flex;
  align-items: center;
}
.c-nav__search input[type=search] {
  width: 35px;
  height: 35px;
  background: #fff url(../img/search.png) no-repeat 10px center;
  border: solid 1px #eee;
  padding: 0 10px;
  border-radius: 10em;
  transition: all 0.5s;
  cursor: pointer;
}
.c-nav__search input[type=search]:focus {
  width: 200px;
  padding-left: 32px;
  padding-right: 15px;
  color: #000;
  cursor: auto;
}
.c-nav__theme {
  margin: 0 16px 0 20px;
  display: flex;
}
.c-nav__theme input[type=checkbox] {
  display: none;
}
.c-nav__theme input[type=checkbox]:checked + .c-nav__themeicon .c-nav__sun {
  display: block;
}
.c-nav__theme input[type=checkbox]:checked + .c-nav__themeicon .c-nav__moon {
  display: none;
}
.c-nav__themeicon {
  width: 24px;
  height: 24px;
  color: #fff;
}
.c-nav__themeicon i {
  cursor: pointer;
}
.c-nav__moon {
  display: block;
  overflow: hidden;
  position: relative;
  transform: rotate(-135deg) scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-bottom: 2px solid transparent;
  border-radius: 50%;
}
.c-nav__moon::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 18px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  top: 8px;
  left: 2px;
  border-radius: 50%;
}
.c-nav__sun {
  display: none;
  position: relative;
  transform: scale(var(--ggs, 1));
  height: 24px;
  background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent;
}
.c-nav__sun::before, .c-nav__sun::after {
  content: "";
  display: block;
  position: absolute;
  left: -6px;
  top: 5px;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
}
.c-nav__sun::after {
  transform: rotate(45deg);
}
.c-nav__sun::before {
  transform: rotate(-45deg);
}
.c-nav__collapsecheck {
  display: none;
}
.c-nav__collapsecheck:checked ~ .c-nav__menu {
  max-height: 400px;
}
.c-nav__collapselabel {
  position: relative;
  cursor: pointer;
  text-align: center;
  color: #fff;
  font-size: 29px;
}
.c-nav__menu {
  position: absolute;
  right: 0;
  min-width: 232px;
  max-height: 0;
  overflow: hidden;
  background: var(--bg-color);
  border-radius: 4px;
  box-shadow: 0 20px 62px rgba(4, 20, 69, 0.1);
  transition: max-height 0.5s ease-out;
}
.c-nav__menu li a {
  display: block;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: var(--font-color);
}
.c-nav__menu li a:hover {
  color: var(--primary-color);
}
.c-nav__menu li.menu-active a {
  color: var(--primary-color);
}

.c-banner__left {
  position: absolute;
  left: 10em;
  z-index: 1;
}
@media screen and (max-width: 1150px) {
  .c-banner__left {
    left: 5em;
  }
}
@media screen and (max-width: 991px) {
  .c-banner__left {
    left: 2em;
  }
}
@media screen and (max-width: 768px) {
  .c-banner__left {
    left: 0em;
    padding: 2em;
  }
}
@media screen and (max-width: 480px) {
  .c-banner__left {
    padding: 1em;
  }
}
@media screen and (max-width: 768px) {
  .c-banner__box {
    background: var(--bg-color);
    padding: 3em 2em 2em 4em;
    border-radius: 8px;
  }
}
@media screen and (max-width: 480px) {
  .c-banner__box {
    padding: 2.5em 2em 2em 2.5em;
  }
}
.c-banner__box h2 {
  color: var(--bg-grey);
  font-size: 120px;
  font-weight: bold;
  margin-left: -0.5em;
  line-height: 28px;
}
@media screen and (max-width: 1440px) {
  .c-banner__box h2 {
    font-size: 100px;
  }
}
@media screen and (max-width: 1150px) {
  .c-banner__box h2 {
    font-size: 90px;
  }
}
@media screen and (max-width: 991px) {
  .c-banner__box h2 {
    font-size: 80px;
  }
}
@media screen and (max-width: 568px) {
  .c-banner__box h2 {
    font-size: 70px;
  }
}
@media screen and (max-width: 480px) {
  .c-banner__box h2 {
    font-size: 60px;
  }
}
.c-banner__content h3 {
  font-size: 50px;
  line-height: 60px;
}
@media screen and (max-width: 1440px) {
  .c-banner__content h3 {
    font-size: 40px;
    line-height: 50px;
  }
}
@media screen and (max-width: 1150px) {
  .c-banner__content h3 {
    font-size: 35px;
    line-height: 45px;
  }
}
@media screen and (max-width: 991px) {
  .c-banner__content h3 {
    font-size: 32px;
    line-height: 42px;
  }
}
@media screen and (max-width: 568px) {
  .c-banner__content h3 {
    font-size: 28px;
    line-height: 38px;
  }
}
@media screen and (max-width: 480px) {
  .c-banner__content h3 {
    font-size: 25px;
    line-height: 35px;
  }
}
.c-banner__content p {
  font-size: 20px;
  color: var(--sub-font-color);
}
@media screen and (max-width: 1150px) {
  .c-banner__content p {
    font-size: 17px;
  }
}
@media screen and (max-width: 568px) {
  .c-banner__content p {
    font-size: 16px;
  }
}
.c-banner__carousel {
  border-bottom-left-radius: 20px;
  overflow: hidden;
  z-index: 0;
}
.c-banner__item {
  position: relative;
  height: 100vh;
  display: flex !important;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 40px 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.c-banner__item:nth-of-type(1) {
  background-image: url(../img/b1.jpg);
}
.c-banner__item:nth-of-type(2) {
  background-image: url(../img/b8.jpg);
}
.c-banner__item:nth-of-type(3) {
  background-image: url(../img/b4.jpg);
}
.c-banner__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.17);
  top: 0;
}
.c-banner__container {
  display: inline-block;
  text-align: center;
  color: #ffffff;
  margin-right: 16px;
  z-index: 1;
}
.c-banner__container p {
  margin-bottom: 0;
}
.c-banner__container h4 {
  font-size: 1.5rem;
  font-weight: 400;
}
.c-banner__container p {
  font-size: 17px;
}
.c-banner__container span {
  font-family: "Source Sans Pro", sans-serif;
}

.c-btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding: 12px 30px;
  color: var(--font-color);
  background-color: var(--bg-grey);
  border-color: transparent;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  line-height: 26px;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}
.c-btn__primary {
  color: #fff;
  background: var(--primary-color);
}
.c-btn__primary:hover {
  color: #fff;
  background-color: var(--secondary-color);
}

.slick-dots {
  bottom: 20px;
}
.slick-dots li {
  margin: 0 2px;
}
.slick-dots li button::before {
  font-size: 14px;
  color: #ffffff;
  opacity: 1;
}
.slick-dots li.slick-active button::before {
  color: var(--primary-color);
  opacity: 1;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.l-footer h3 {
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--font-color);
  margin-bottom: 30px;
}
@media screen and (max-width: 1190px) {
  .l-footer h3 {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  .l-footer h3 {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 801px) {
  .l-footer h3 {
    margin-bottom: 18px;
  }
}
.l-footer p {
  font-size: 17px;
  line-height: 27px;
  color: var(--sub-font-color);
}
.l-footer__contact p {
  line-height: 24px;
}
.l-footer__subscribe input[type=email] {
  width: 80%;
  font-size: 16px;
  color: var(--font-color);
  background: var(--bg-grey);
  padding: 12px 20px;
  border: 1px solid var(--border-color-light);
  border-radius: 30px 0px 0px 30px;
  outline: none;
}
.l-footer__subscribe button {
  width: 20%;
  font-size: 16px;
  color: #fff;
  background: var(--secondary-color);
  border: none;
  border-radius: 0px 30px 30px 0px;
  outline: none;
  padding: 12px 12px;
  transition: 0.5s;
}
.l-footer__subscribe button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 1190px) {
  .l-footer__subscribe button {
    width: 30%;
  }
}
@media screen and (max-width: 640px) {
  .l-footer__subscribe button {
    padding: 12px 10px;
  }
}
@media screen and (max-width: 420px) {
  .l-footer__subscribe button {
    width: 20%;
  }
}
.l-footer__social li {
  display: inline-block;
  margin-right: 5px;
}
.l-footer__social li a {
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  color: var(--secondary-color);
  background: rgba(10, 191, 83, 0.08);
  border-radius: 50%;
}
.l-footer__social li a span {
  font-size: 15px;
  line-height: 35px;
}

.c-totopbtn {
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 99;
  width: 40px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  background: var(--secondary-color);
  padding: 0;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  display: none;
}
.c-totopbtn:hover {
  opacity: 0.8;
}

/* GROW */
.grow {
  padding: 3rem 0;
}

.grow__container {
  padding: 3rem 0;
}

.grow__left h3 {
  color: var(--primary-color);
  font-size: 22px;
  font-weight: lighter;
  line-height: 28px;
}

.grow__left h2 {
  color: var(--font-color);
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
}

.grow__left p {
  color: var(--sub-font-color);
  font-size: 17px;
  line-height: 27px;
}

.grow__right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.grow__right .grids-1 {
  padding: 40px 30px;
  border-radius: 30px;
  text-align: center;
  box-shadow: var(--shadow-color) 0px 1rem 3rem;
  background-color: var(--bg-color);
  transition: 0.3s;
}

.grow__right .grids-1:hover {
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}

.grow__right img {
  max-width: 65px;
  display: block;
  margin: 0 auto;
}

.grow__right h4 a {
  font-size: 20px;
  margin-top: 25px;
  display: block;
  line-height: 28px;
  font-weight: 600;
  color: var(--font-color);
  transition: all 0.5s;
}

.grow__right h4 a:hover {
  color: var(--secondary-color);
}

/*SERIVCES  */
.services {
  background-color: var(--secondary-color);
}

.service__title {
  color: white;
  position: relative;
  z-index: 1;
}

.service__title h3 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
}

.service__title h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
}

.service__title__right {
  justify-content: center;
}

.service__title__right p {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 27px;
}

h4.title__center {
  font-size: 12vw;
  position: absolute;
  bottom: 50%;
  right: 50%;
  z-index: 0;
  color: #fff;
  opacity: 0.14;
  transform: translate(50%, 50%);
  line-height: 28px;
}

.services__item img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  max-width: 100%;
  width: 100%;
}

.services__item__body {
  background-color: var(--bg-color);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid var(--border-color-light);
  border-top: none;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 30px 20px;
}

.services__item__body span {
  padding: 5px 20px;
  display: inline-block;
  background-color: rgba(0, 159, 77, 0.16);
  color: #009f4d;
  border-radius: 15px;
  font-weight: 600;
}

.services__item__body a {
  display: block;
  font-size: 24px;
  color: var(--font-color);
  font-weight: 600;
  margin: 15px 0;
  line-height: 30px;
  transition: 0.5s all;
}

.services__item__body a:hover {
  color: var(--secondary-color);
}

.services__item__body p {
  font-size: 17px;
  line-height: 27px;
  color: var(--sub-font-color);
}

/* CHOOSE__US */
.choose__us__container {
  justify-content: space-between;
}

.choose__us__left {
  align-self: center;
}

.choose__us__left h5 {
  color: var(--primary-color);
  font-size: 22px;
  font-weight: lighter;
  line-height: 28px;
}

.choose__us__left h3 {
  color: var(--font-color);
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
}

.choose__us__left p {
  font-size: 17px;
  line-height: 27px;
  color: var(--sub-font-color);
}

.choose__us__item i {
  color: var(--primary-color);
  font-size: 30px;
}

.choose__us__item h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 28px;
}

.choose__us__right img {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}

.choose__us__right .choose__us__box {
  position: absolute;
  bottom: 38px;
  left: -85px;
  background-color: var(--primary-color);
  padding: 40px;
  border-radius: 0 0 100px 0;
  text-align: center;
  color: #fff;
  min-width: 300px;
  box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
}

.choose__us__right .choose__us__box h6 {
  font-size: 70px;
  line-height: 80px;
  font-weight: 600;
}

.choose__us__right .choose__us__box span {
  font-size: 18px;
  letter-spacing: 0.2px;
  font-weight: 600;
}

/* RESPONSIVE  */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .service__title__right p {
    line-height: 26px;
  }
  .services__item p {
    line-height: 26px;
  }
  .choose__us__item h4 {
    font-size: 20px;
    line-height: 28px;
  }
  .choose__us__left p {
    line-height: 26px;
    font-size: 17px;
  }
  .choose__us__right .choose__us__box span {
    line-height: 26px;
  }
}
@media screen and (max-width: 991.98px) {
  .grow__left h3 {
    font-size: 20px;
  }
  .grow__left h2 {
    font-size: 35px;
    line-height: 45px;
  }
  .service__title h3 {
    font-size: 20px;
  }
  .service__title h2 {
    font-size: 35px;
    line-height: 45px;
  }
  .choose__us__left h5 {
    font-size: 20px;
  }
  .choose__us__left h3 {
    font-size: 35px;
    line-height: 45px;
  }
}
@media screen and (max-width: 800px) {
  .grow__right .grids-1 {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .grow__left h3 {
    font-size: 18px;
  }
  .grow__left h2 {
    font-size: 32px;
    line-height: 42px;
  }
  .service__title h2 {
    font-size: 32px;
    line-height: 42px;
  }
  .service__title h3 {
    font-size: 18px;
  }
  .choose__us__left h5 {
    font-size: 18px;
  }
  .choose__us__left h3 {
    font-size: 32px;
    line-height: 42px;
  }
  .choose__us__right .choose__us__box {
    left: -50px;
  }
}
@media screen and (max-width: 667px) {
  .grow__left p {
    margin: 14px 0 26px;
  }
  .grow__right .grids-1 a {
    font-size: 18px;
  }
}
@media screen and (max-width: 568px) {
  .grow__left p {
    margin: 0 0 10px;
  }
  .grow__left h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .grow__right h4 a {
    margin-bottom: 7px;
  }
  .service__title h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .choose__us__left h3 {
    font-size: 30px;
    line-height: 40px;
  }
}
@media screen and (max-width: 440px) {
  .grow__right {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .grow__left p {
    font-size: 15px;
  }
}
@media screen and (max-width: 320px) {
  .grow__right {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0px;
  }
}
@media screen and (max-width: 384px) {
  .grow__right .grids-1 a {
    font-size: 20px;
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .choose__us__right {
    margin-left: 16.6667%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
/* Start of Tien Thinh's part  */
.row_item {
  margin-top: 30px;
}

.row_item img {
  width: 100%;
}

.row_item a {
  display: flex;
  padding: 2rem 1rem;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.row_item p {
  font-size: 17px;
  color: var(--sub-font-color);
  margin-top: 10px;
}

.row_item h4 {
  font-size: 22px;
  font-weight: 600;
  line-height: 25px;
  color: var(--font-color);
  transition: 0.3s ease-in-out;
}

.row_item:hover a {
  border-color: var(--border-color-light);
}

.row_item:hover h4 {
  color: var(--secondary-color);
}

/* start gallery  */
.gallery_content {
  margin-left: 0;
  margin-right: 0;
}

.title {
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 460px) {
  .title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 1em;
  }
}

.title h5 {
  width: 100%;
  font-size: 22px;
  color: var(--primary-color);
}

.title h3 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  color: var(--font-color);
}

.title p {
  font-size: 17px;
  color: var(--sub-font-color);
  margin-top: 0.5rem;
}

.title .btn {
  margin-top: 1.5rem;
}

.item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
}

.item h5 {
  position: absolute;
  z-index: 0;
  color: #fff;
  bottom: 0;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.27);
  padding: 6px;
  text-align: center;
  left: 0;
  right: 0;
  margin: 20px;
}
@media screen and (max-width: 375px) {
  .item h5 {
    font-size: 0.8rem;
  }
}

.item img {
  width: 100%;
}

.item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
  transition: all 0.75s;
}

.item:hover::before {
  left: 125%;
}

@media screen and (max-width: 1200px) {
  .title h3 {
    font-size: 32px;
  }
}
/* start carousel  */
.carousel {
  position: relative;
  background-image: url(/img/bg1.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding: 20px 0;
  z-index: 0;
  margin: 40px 0;
}

.carousel::before {
  content: "";
  background: rgba(10, 10, 10, 0.52);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.carousel_content {
  max-width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 120px 0 120px;
  gap: 40px;
}

.carousel_content .left {
  width: 30%;
  color: white;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.carousel_content .left h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}

.left a {
  display: inline-block;
  width: 90px;
  height: 90px;
  background-color: var(--bg-color);
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
@media screen and (max-width: 415px) {
  .left a {
    width: 75px;
    height: 75px;
  }
}

.left a img {
  width: 100%;
}

.carousel_content .right {
  width: 70%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.carousel_content .right span {
  font-size: 20px;
  color: var(--primary-color);
}

.right p {
  font-size: 22px;
  color: white;
  text-indent: 30px;
}

.carousel-indicators {
  bottom: 0;
  padding-top: 20px;
  margin-bottom: 50px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 6px;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .carousel_content {
    flex-direction: column;
  }
  .right {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
  }
  .carousel_content .left, .carousel_content .right {
    width: auto;
  }
}
@media screen and (max-width: 460px) and (min-width: 321px) {
  .gallery_content {
    padding: 10px !important;
  }
}
/* End of Tien Thinh's part  */